<!DOCTYPE html>
<html lang="en">
    {% include "../htmlfile/head.html" %}
    <body>
        {% include "../htmlfile/navbar.html" %}

        <div class="container mt-3">
            
            <h1 class="display-3">Meetings</h1>


        

          {% for data in table_data %}
          <div style="margin-bottom: 20px;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ data.time }}回MTG</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ data.due_date }} {{data.period}}限〜</h6>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">キャンパス: {{ data.campus }}　　教室: {{ data.room }}</li>
                    <li class="list-group-item">進捗発表:  {{ data.elementaly_presenters }}</li>
                    <li class="list-group-item">輪読/LT発表:  {{ data.secondary_presenters }}</li>
                  </ul>

                <p class="card-text">{{ data.description }}</p>

                {% if data.active %}
                  <span class="badge badge-primary">出席を受け付けています</span>
                {% else %}
                  <span class="badge badge-danger">出席締め切り</span>
                {% endif %}


                <!--
                <span class="badge badge-success">あなたが発表しています</span>
                <span class="badge badge-danger">無断欠席</span>
                <span class="badge badge-warning">欠席しています</span>
                -->


                <!--
                <a href="{{ data.gas_url}}" target="_blank" class="card-link">スライド登録</a>  -->
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
            {% include "../htmlfile/script.html" %}

    </body>
</html>
