[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
django = "*"
markdown = "*"
djangorestframework = "*"
django-webpack-loader = "*"
django-filter = "*"
channels = "*"
dj-database-url = "*"
requests = "*"
pydrive = "*"
psycopg2-binary = "*"
django-initial-setup = "*"

[dev-packages]
mirage-django-lts = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
