<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <body>
        {% include "navbar.html" %}

        <div class="container">
            <h1>第{{ no }}回MTG 出席者</h1>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ログイン名</th>
                  <th scope="col">発表有無</th>
                  <th scope="col">備考</th>
                  <th scope="col">操作メニュー</th>
                </tr>
              </thead>
              <tbody>
                {% for user in list %}
                <tr class="table-light">
              

                  <th scope="row">{{ user.login }}</th>
                  <td>
                    {% if user.is_presentationed %}
                      <span class="badge badge-success">発表済</span>
                    {% else %}
                    {% endif %}
                  </td>
                  <td>
                    {% if user.description != "No Description" %}
                      {{ user.description }}
                    {% else %}
                      なし
                    {% endif %}
                  </td>
                  <td>
                    <a href="/kgl/record_presentation_status/?mtg_id={{ mtg_id }}&login={{ user.login}}" class="btn btn-primary">発表登録</a>
                    <button data-toggle="modal" data-target="#{{ user.login }}" class="btn btn-info">備考登録</button>
                    <button data-toggle="modal" data-target="#del_{{ user.login }}" class="btn btn-danger">出席取り消し</button>


                    <div class="modal" id="del_{{ user.login }}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">警告</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h2>本当に出席を削除しますか？</h2>
                            <p>この操作は復元できません.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">キャンセル</button>
                            <a class="btn btn-danger" href="/kgl/attendance_delete/?mtg_id={{ mtg_id }}&login={{ user.login }}">確認して削除</a>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="modal" id="{{ user.login }}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">備考を登録</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="exampleTextarea">備考を入力</label>
                              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">登録</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% empty %}
                  <p></p>
                  <h1>この回には誰も出席していません😂</h1>
                {% endfor %}
              </tbody>
            </table> 
        </div>
        {% include "script.html" %}
    </body>
</html>
