<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <body>
        {% include "navbar.html" %}

        <div class="container">
            <h1>Scan this code</h1>

            <p>このQRコードをスキャンして出席を送信してください。</p>
            
            {% load static %}
            <img src="{% static qr_image %}" />

            {% if is_debug %}
                <h2><a href="{{ url }}">{{ url }}</a></h2>
            {% else %}
                <h2>or access  => <a href="{{ url }}">{{ url }}</a></h2>
            {% endif %}
        </div>
        {% include "script.html" %}
    </body>
</html>
