<!DOCTYPE html>
<html lang="en">
    {% include "../htmlfile/head.html" %}
    <body>
        {% include "../htmlfile/navbar.html" %}

        <div class="container mt-3">
          <h1 style="margin-top: 20px; margin-botom: 20px;">初回セットアップ</h1>

          <div class="col-md-10 offset-md-1">
              <div class="card">
                  <div class="card-body">
                     
                  </div>
              </div>
          </div>

            
        </div>
            {% include "../htmlfile/script.html" %}

    </body>
</html>
