<!DOCTYPE html>
<html lang="en">
    {% include "./head.html" %}
    <body>
        {% include "./navbar.html" %}

        <div class="container">
            <h1 style="margin-top: 20px; margin-botom: 20px;">KGL Admin</h1>


            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-mtg-tab" data-toggle="pill" href="#pills-mtg" role="tab" aria-controls="pills-mtg" aria-selected="true">ミーティング</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-lt-tab" data-toggle="pill" href="#pills-lt" role="tab" aria-controls="pills-lt" aria-selected="false">輪読・LT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-event-tab" data-toggle="pill" href="#pills-event" role="tab" aria-controls="pills-event" aria-selected="false">イベント</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-achievement-tab" data-toggle="pill" href="#pills-achievement" role="tab" aria-controls="pills-achievement" aria-selected="false">成績処理</a>
                </li>
              </ul>


              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-mtg" role="tabpanel" aria-labelledby="pills-mtg-tab">
                  {% include "./kgladmin/meeting.html" %}
                </div>
                <div class="tab-pane fade" id="pills-lt" role="tabpanel" aria-labelledby="pills-lt-tab">
                  {% include "./kgladmin/LT.html" %}
                </div>
                <div class="tab-pane fade" id="pills-event" role="tabpanel" aria-labelledby="pills-event-tab">
                  {% include "./kgladmin/LT.html" %}
                </div>
                <div class="tab-pane fade" id="pills-achievement" role="tabpanel" aria-labelledby="pills-achievement-tab">
                    {% include "./kgladmin/LT.html" %}
                  </div>
              </div>
  
      



            
           





            
        </div>
            {% include "./script.html" %}

    </body>
</html>
