                
                  <div class="form-group">
                    
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="create/" class="btn btn-success btn-lg">物理ミーティング作成</a>
                      <a href="create_online/" class="btn btn-success btn-lg">オンラインミーティング作成</a>
                    </div>
                  </div>
            <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">回数</th>
              <th scope="col">タイトル</th>
              <th scope="col">Meeting ID</th>
              <th scope="col">操作メニュー</th>
            </tr>
          </thead>
          <tbody>
            {% for data in table_data %}
            <div id="dialog{{data.mtg_id}}" class="modal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">アクセス用URL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>このリンクを経由してアクセスすることで出席が記録されます</p>
                    <p>
                      <h3><a href="{{ online_url|add:data.mtg_id }}">{{ online_url|add:data.mtg_id }}</a></h3>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                  </div>
                </div>
              </div>
            </div>
            {% if data.active %}
            <tr class="table-primary">
            {% else %}
            <tr class="table-light">
            {% endif %}
    
              <th scope="row">{{ data.time }}</th>
              <td>{{ data.title }}</td>
              <td>{{ data.mtg_id }}</td>
              <td>
                {% if data.is_online %}

                <button data-toggle="modal" data-target="#dialog{{data.mtg_id}}" class="btn btn-success">オンライン参加URL表示</button>
                <a href="scan_discord/?mtg_id={{ data.mtg_id }}" class="btn btn-success" style="background:#7289DA;border-color: #7289DA;">Discordから出席者をスキャン</a>

                {% else %}
                <a href="show_qr/?mtg_id={{ data.mtg_id }}" class="btn btn-success">オンキャンパスQR表示</a>
                {% endif %}
                <a href="attendances/?mtg_id={{ data.mtg_id }}" class="btn btn-warning">出席者一覧</a>
                {% if data.active %}
                <a href="disable/?time={{ data.time }}" class="btn btn-danger">〆切</a>
                {% else %}
                <a href="enable/?time={{ data.time }}" class="btn btn-warning">受付</a>

                {% endif %}
              </td>
            </tr>
            {% empty %}
              <p>まだミーティングが作成されていません</p>
            {% endfor %}
          </tbody>
        </table> 
    