<!DOCTYPE html>
<html lang="en">
    {% include "../htmlfile/head.html" %}
    <body>
        {% include "../htmlfile/navbar.html" %}

        <div class="container mt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/kgl/">KGL Admin</a></li>
            <li class="breadcrumb-item active">新規オンラインMTG作成</li>
          </ol>
          
          <h1 style="margin-top: 20px; margin-botom: 20px;">新規オンラインMTG作成</h1>

          <div class="col-md-10 offset-md-1">
              <div class="card">
                  <div class="card-body">
                      {% include "./create_online_mtg_form.html" %}
                  </div>
              </div>
          </div>

            
        </div>
            {% include "../htmlfile/script.html" %}

    </body>
</html>
