<!DOCTYPE html>
<html lang="en">
    {% include "../htmlfile/head.html" %}
    <body>
        {% include "../htmlfile/navbar.html" %}

        <div class="container">
            <div class="container mt-3">

            <div class="card border-primary col-md-6 offset-md-3">
              <div class="card-body">
                <h4 class="card-title"> Student 登録フォーム</h4>
                <form method="post" action="/kg/enrollment/">{% csrf_token %}
                  <fieldset>
                    <div class="form-group">
                      <label for="login_name_input">ログイン名</label>
                      <input type="text" class="form-control" id="login_name_input" name="login_name" placeholder="ex: shotan">
                    </div>
                    <div class="form-group">
                      <label for="password_input">パスワードを作成</label>
                      <input type="password" class="form-control" id="password_input" name="password" placeholder="Password">
                    </div>
    
                    <div class="form-group">
                      <label for="grade_input">学年 / Grade</label>
                      <select class="form-control" id="grade_input" name="grade">
                          <option>B1</option>
                          <option>B2</option>
                          <option>B3</option>
                          <option>B4</option>
                          <option>M1</option>
                          <option>M2</option>
                          <option>M3</option>
                          <option>D1</option>
                          <option>D2</option>
                          <option>D3</option>
                          <option>Faculty</option>
                      </select>
                    </div>    
              
                    <button type="submit" class="btn btn-success btn-lg btn-block">登録</button>
                  </fieldset>
                </form>
              </div>
            </div>
            </div>
          </div>

              {% include "../htmlfile/script.html" %}

</body>
</html>
